<!DOCTYPE html>

<html>
<head>

	<title>Reconciliation</title>

	<style>

		table, td, th {

			border: 1px solid black;

		}

		table {

			border-collapse: collapse;

		}

	</style>

</head>

​

<body>

​

	<h1>Reconciliation</h1>

	<%= form_for 'ingenico/reconciliation' do %>

		<%= label_tag :'Merchant Ref No', 'Merchant Ref No: ' %>

		<%= text_area_tag :merchantRefNo, '', :placeholder =>'Enter comma separated Merchant Ref no', :size => "40x2",required: true %>

		<%= label_tag :'Date', 'From Date: ' %>

		<%= date_field_tag :fromDate, '', required: true %>

		<%= label_tag :'Date', 'To Date: ' %>

		<%= date_field_tag :endDate, '', required: true %>

		<%= submit_tag :Submit %><br>

	<% end %>

	<br><br>

​

	<%= form_for 'display' do %>

		<% if @last_response %>

			<% @last_response.each do |response| %>

				<table border="2" align="middle">

					<tr>

						<td><%= label_tag :'Status Code' %></td>

						<td><%= response['paymentMethod']['paymentTransaction']['statusCode']%></td>

					</tr>

					<tr>

						<td><%= label_tag :'Merchant Transaction Reference No' %></td>

						<td><%= response['merchantTransactionIdentifier']%></td>

					</tr>

					<tr>

						<td><%= label_tag :'TPSL Transaction ID' %></td>

						<td><%= response['paymentMethod']['paymentTransaction']['identifier']%></td>

					</tr>

					<tr>

						<td><%= label_tag :'Amount' %></td>

						<td><%= response['paymentMethod']['paymentTransaction']['amount']%></td>

					</tr>

					<tr>

						<td><%= label_tag :'Message' %></td>

						<td><%= response['paymentMethod']['paymentTransaction']['errorMessage']%></td>

					</tr>

					<tr>

						<td><%= label_tag :'Status Message' %></td>

						<td><%= response['paymentMethod']['paymentTransaction']['statusMessage']%></td>

					</tr>

					<tr>

						<td><%= label_tag :'Date Time' %></td>

						<td><%= response['paymentMethod']['paymentTransaction']['dateTime']%></td>

					</tr>

				</table>

				<br>

			<% end %>

		<% end %>

	<% end %>

​

</body>

</html>

